/* often used */
.break-white {
  background-color: #FFFFFF;
  padding: 20px 0; }

nav {
  background-color: #F0B83D;
  display: block;
  padding: 0; }
  nav .container {
    text-align: right;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0; }
    nav .container .navigation {
      list-style-type: none;
      padding: 5px 0 5px 0;
      margin: 0; }
      nav .container .navigation .navigation-item {
        display: inline;
        height: 100%;
        padding: 10px 30px 6px 30px;
        margin: 0 -2px 0 -2px;
        border-right: 1px solid #f0e43d; }
        nav .container .navigation .navigation-item a {
          font-family: 'Open Sans', sans-serif;
          color: #231F20;
          font-size: 14px; }
          nav .container .navigation .navigation-item a:hover {
            text-decoration: none; }
          nav .container .navigation .navigation-item a:focus {
            text-decoration: none; }
        nav .container .navigation .navigation-item:hover {
          background-color: #f08b3d;
          cursor: pointer; }
    nav .container .navigation > :first-child {
      border-left: 1px solid #f0e43d; }

.logo-container {
  background-color: #231F20;
  background-image: url("../img/bg-logo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%  15%;
  height: 500px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .logo-container .logo-full-width {
    background-color: #231F20;
    width: 100%;
    height: 120px;
    position: absolute;
    top: 380px; }
    .logo-container .logo-full-width .container {
      height: 120px;
      background-color: #231F20; }
      .logo-container .logo-full-width .container .logo-image {
        height: 120px;
        float: left; }
        .logo-container .logo-full-width .container .logo-image img {
          max-height: 100%; }
      .logo-container .logo-full-width .container .logo-text {
        float: left;
        height: 90px;
        padding-top: 10px;
        padding-left: 20px; }
        .logo-container .logo-full-width .container .logo-text h3 {
          color: #FFFFFF;
          font-family: 'Caveat', cursive;
          font-size: 38px; }
        .logo-container .logo-full-width .container .logo-text h1 {
          color: #FFFFFF;
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          font-size: 48px; }
      .logo-container .logo-full-width .container .clear {
        clear: both; }

/* most popular articles section */
.most-popular {
  border: 2px solid #231F20; }
  .most-popular .row .popular-header {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #231F20;
    text-transform: uppercase;
    background: repeating-linear-gradient(90deg, #231F20, #231F20 50px, #3d2a2f 50px, #3d2a2f 100px); }
    .most-popular .row .popular-header .popular-header-text {
      float: left; }
      .most-popular .row .popular-header .popular-header-text h3 {
        color: white;
        font-family: 'Russo One', sans-serif;
        letter-spacing: 2px; }
    .most-popular .row .popular-header .stripes {
      float: right;
      width: 100px;
      height: 100%; }
  .most-popular .card-group .single-card {
    border: 0;
    margin: 0 25px 0 0; }
    .most-popular .card-group .single-card .card-img-style {
      border: 0; }
    .most-popular .card-group .single-card .card-info {
      border: 0;
      background-color: white;
      padding: 0; }
    .most-popular .card-group .single-card .card-text {
      padding: 10px 0; }
  .most-popular .card-group > :last-child {
    margin-right: 0; }

/* content section styles */
/* latest news section styles */
.latest-header {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #231F20;
  text-transform: uppercase;
  background: repeating-linear-gradient(90deg, #231F20, #231F20 50px, #3d2a2f 50px, #3d2a2f 100px); }
  .latest-header h3 {
    color: white;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px; }
